:root {
  --primary: rgb(201, 146, 102);
  --primary-hover: rgb(135, 101, 73);
  --primary: rgb(51, 214, 138);
  --primary-hover: rgb(32, 155, 87);
  --primary: rgb(231, 232, 133); /* Electric pink-red */
  --primary-hover: #58b55b; /* Deeper, moodier shade */

  --primary: rgb(208, 136, 77);
  --primary-hover: rgb(254, 176, 112);
  --primary-color: #000;
  --shadow: rgba(242, 152, 88, 0.2);
  --navbar-shadow: 0 20px 220px rgba(242, 152, 88, 0.25);
  --big-font: "Roboto Serif", "Space Grotesk", "Geist Mono", monospace;
  --small-font: "Roboto", "Roboto", "Noto Sans", arial, helvetica, sans-serif;
  --mono: "Roboto Mono", monospace;

  --colora: rgb(255, 86, 80);
  --colorb: rgb(109, 220, 64);
  --colorc: rgb(0, 183, 255);
}

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: var(--small-font);
  overflow-x: hidden;
}
.emoji {
  font-family: "noto color emoji";
  font-size: 25px;
  margin: 0 15px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 20px var(--primary);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-weight: 100;
  font-style: italic;
}
.slideshow-refresh-btn svg {
  position: relative;
  top: 7px;
  fill: var(--primary);
}
.slideshow-refresh-btn:hover svg {
  fill: var(--primary-color);
}
h1 .emoji {
  font-size: 45px;
  text-shadow: 0px 0px 20px var(--primary);
}
.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: block;
  z-index: -1;
}
.underline-link {
  position: relative;
  color: var(--primary);
  text-decoration: none;
}
.underline-link:hover {
  text-decoration: none;
}
.underline-link:focus {
  border: 2px solid var(--primary);
}
.underline-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px; /* underline thickness */
  background-color: var(--primary); /* underline color */
  transition: width 0.3s ease;
}

.underline-link:hover::after {
  width: 100%;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.network {
  display: flex;
  position: absolute;
  font-family: monospace;
  font-size: 42px;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.chunk {
  position: absolute;
  text-align: center;
  font-size: 44px;
  color: transparent;
  transition: all 0.7s ease-in-out;
}

@media (max-width: 600px) {
  .chunk {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .chunk {
    font-size: 20px;
  }
}

#blobSvg {
  z-index: 1;
  position: absolute;
  transition: opacity 1s ease-in-out;
  overflow: hidden;
}

#web-content {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#logo-scene {
  background-color: #000;
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--big-font);
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}
@media (max-width: 510px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: var(--small-font);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}
p b {
  font-weight: 600;
  font-style: italic;
  color: rgb(255, 255, 255);
}

#tech {
  text-align: center;
}

#tech img {
  width: 50px;
  height: 50px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

#tech img:hover {
  transform: scale(1.1);
}

footer {
  padding: 0 25px;
}

footer p {
  font-size: 16px !important;
}

#wrapper {
  width: 100%;
  margin: 0;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

#pfp {
  width: 300px;
  box-shadow: 0px 4px 3px rgba(251, 21, 21, 0.5);
  border-radius: 0%;
}
@media (max-width: 600px) {
  #pfp {
    width: 150px;
  }
  .hidemobile {
    display: none;
  }

  footer {
    margin-top: 0px !important;
  }
}
#about {
  padding: 45px;
}

#lang-showcase {
  padding: 45px;
}

@media (min-width: 1000px) {
  #wrapper {
    display: flex;
  }

  #about {
    padding: 40px;
    width: 50%;
  }

  #lang-showcase {
    padding: 40px;
    width: 50%;
  }

  #tech img {
    width: 70px;
    height: 5vw;
    margin: 1vw;
  }
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #5f5f5f;
}

#projects {
  padding: 45px;
}
footer {
  padding-bottom: 62px;
}
#social-links {
  /*text-align: center;
  display: flex;
  float: right;
  margin-top: 30px;*/
  position: fixed;
  bottom: 10px;
  left: 20px;
  right: 20px;
  height: 72px;
  line-height: 72px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 15px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  max-width: 1000px;
  margin: 0 auto;
  mix-blend-mode: difference;
}

@media (max-width: 600px) {
  #social-links {
    left: 0px;
    bottom: 0px;
    border-radius: 0px;
    right: 0px;
  }
}

.social-link {
  margin-right: 5px;
  width: 70px;
  height: 70px;
  text-align: center;
  background: transparent;
  border-radius: 82px;
  color: #fff;
  text-decoration: underline;
  font-family: var(--small-font);
  font-weight: 400;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
}
.ai {
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-left: auto;
  width: fit-content !important;
  font-size: 14px;
  width: fit-content;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  padding: 0px 10px;
  border-radius: 100px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgb(216, 216, 216);
}
.ai svg {
  width: 24px;
  fill: rgb(255, 255, 255);
  margin-right: 5px;
}
.ai:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 2px solid var(--primary);
}

.social-link svg {
  vertical-align: middle;
}

.social-link:hover {
  box-shadow: inset 0px -10px 10px var(--primary);
  color: #ffffff;
  text-decoration: none;
  transform: translateY(0px);
}
.social-link:active {
  box-shadow: 0px 0px 10px var(--primary), inset -2px -20px 10px var(--primary);
  transform: translateY(0px) scale(0.9);
}

.rp-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  border: 2px solid rgb(240, 240, 240);
  color: white;
  padding: 0em 20px;
  height: 50px;
  font-size: 1.1rem;
  border-radius: 8px;
  outline: none;
  transition: color 0.4s;
  z-index: 2;
}
.rp-button:focus {
  outline: 2px solid var(--primary);
}

.rp {
  position: absolute;
  width: 190%;
  height: 220%;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
  line-height: 62px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: var(--navbar-shadow);
  z-index: 999;
}
nav a {
  padding: 0 20px;
  color: white;
  height: 60px;
  line-height: 60px;
  transition: all 0.3s;
  border-top: 2px solid transparent;
  font-family: var(--small-font);
  font-weight: 400;
  width: 200px;
  text-align: center;
  letter-spacing: 0.4px;
  border-bottom: 1px solid transparent;
  color: rgba(255, 255, 255, 0.5);
}
nav a:hover {
  color: white;
  text-decoration: none;
}
nav a.active {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.filter {
  padding: 8px 16px;
  background: #000000;
  border-radius: 20px;
  border: 1px solid var(--primary);
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
}
.filter.active {
  background: var(--primary);
  color: #000;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
}
.skill-card {
  background: linear-gradient(rgba(45, 28, 0, 0.9), rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  padding: 10px;
  font-family: var(--small-font);
  font-weight: 100;
  text-align: center;
  /*box-shadow: inset 0 70px 30px rgba(255, 255, 255, 0.3);*/
  transition: all 0.4s;
}
.skill-card:hover {
  box-shadow: inset 0 40px 60px rgba(255, 255, 255, 0.2);
}
.skill-card:hover svg,
.skill-card:hover img {
  transform: translateY(-5px) scale(1.1);
}
.skill-card svg,
.skill-card img {
  transition: all 0.3s;
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}
.skill-name {
  font-weight: bold;
  font-size: 14px;
}

.annon {
  padding: 45px;
  text-align: center;
}
.annon h2 {
  text-align: left;
}
.annon p {
  text-align: left;
}
.annon img {
  border-radius: 5px;
  width: 100%;
}
